body {
  margin: 0;
  font-family: 'Graduate', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#013369;
  color:white;
  text-align: center;
  padding:10px;

}

button{
  background-color: #D50A0A;
  padding: 25px;
  border: white 3px solid;
  margin: 8px;
  color: white;
  border-radius: 10px;
  font-size:1.5em;
  font-family: 'Graduate', cursive, sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  padding:10px;
  border-radius: 20%;
  max-width:200px;
}
.header {
  font-size: 2em;

  min-height: 10vh;

  font-weight: bold;

}
.gameArea{
  min-height:75vh;
}
.footer{
  min-height:10vh;
  width:100%;
  font-size:2em;
}
